

.Home_Div{
    border: 2px solid black;
    background-color: #BEADFA;
    height: 100vh;
    width: 100vw;
    background-image:url("./Images/ash-edmonds-0aWZdK8nK2I-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color:#00ADB5;
}
.Home_Div h1{
    text-align: center;
    color: #00ADB5;
}
.buttons_social a{
    text-decoration: none;
    color: #00ADB5;
}
.Intro{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
    margin-left: 2rem;
    height: 400px;
    width: 400px;
}
p{
    font-size: 20px;
    color:#FF9A00;
}